#nav-title{
    font-family: Spartan;
    font-style: Bold;
    font-size: 30px;
    /* color: #241757; */
    color:  #241757;
  }
  #nav-title:hover{
    color: #5380ff;
  
  }
  .NavLink{
    font-family: Spartan;
    /* font-style: Bold; */
    font-size: 20px;
    color: #241757;
  
  }
  
  #Home{
    font-family: Spartan;
    /* font-style: Bold; */
    font-size: 21px;
    color: #241757;
  
  }
  #aboutus{
    font-family: Spartan;
    /* font-style: Bold; */
    font-size: 21px;
    color: #241757;
    
  }
  #contactus{
    font-family: Spartan;
    /* font-style: Bold; */
    font-size: 21px;
    color: #241757;
    
  }
  #Home:hover{
    font-style: Bold;
    color: #5380ff;
  }
  #aboutus:hover{
    font-style: Bold;
    color: #5380ff;
  }
  #contactus:hover{
    font-style: Bold;
    color: #5380ff;
  }
  

